/* External CSS Style */

body{
  background-color: #eaf6f6;
}

hr{
border-style: none;
border-top-style: dotted;
border-color:black;
border-width: 5px; ;
width: 5%;
}

h1{
    color: blue;
}
h2{
    color: blue;
}
h3{
    color: blueviolet;
}